<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @profile.contact %>
</p>

<% @profile.assets.each do |image| %>
  <div class="col-md-3">
   <%= image_tag image.image_name.url  %>
  </div>
<% end %>
<div class="clearfix"> </div>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
