<%= form_for(@comment , remote: true) do |f| %>
  
  <div id="commentterror"> </div>

  <div class="field">
    <%= f.text_area :message, placeholder: "Provide Comment Here" %>
  </div>
  
  <%= f.hidden_field :post_id %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.hidden_field :parent_id  %>
  
  <div class="actions">
    <%= f.submit %>  &nbsp;&nbsp;&nbsp;<%= link_to 'Back', :back %>
  </div>
  
<% end %>
