<p id="notice"><%= notice %></p>

<div class="allcomments">
  <% @comments.each do |comment| %>
    <% comment.ancestors.each_pair do |k,v| %>

      <div class="eachcommentwrapper" id="eachcommentwrapper<%=v.id%>" style="margin-bottom: 5px; background:#C6C9CC; padding:5px;" >        
        <div class="eachcomment">
          <h5 class="text-info"><%= v.message %></h5>
        </div>
        
        <div class="edc_link">
          <% if v.user == current_user %>
            <%= link_to edit_url, edit_comment_path(v), remote: true %>
            <%= link_to delete_url, v,remote: true, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
          <%= link_to comment_url(v.parents.count),ancestors_url(v),remote: :true %>
        </div> 
        
        <div class="editcomment<%=v.id%>"></div>
        
        <div id="childcomment<%=v.id%>"></div>
        
      </div>
      
      <% if v.parent_id.nil?  %>
        <script type="text/javascript">
          $(document).ready(function(){
            $("#eachcommentwrapper<%=v.id%>").css({
              "background": "#DED4C5",
            });
          });   
        </script>
      <% end %>
    <% end %>
  <% end %>
</div>