<div class="col-md-push-3 follwing_list">
  <h4 class="text-primary"> Following User  </h4>
	
  <% @users.each do |user| %>
	  <div class="col-md-3" id="follwing_list<%=user.id%>">
		  <%= image_tag user.image.url if user.image.present? %><br>
		  <%= user.email %> <br>
		  <%#= link_to "Unfollow" , "#" , :method => :delete, :remote => :true %>
      <%= link_to "Unollow", user.followings.first, 
        remote: :true, 
        method: :delete,
        class: "btn-sm btn-danger",
        id: "unfollow_user#{user.id}" 
        %>
    </div>
    <script type="text/javascript">
      $(document).ready(function(){
        $("#unfollow_user<%=user.id%>").click(function(){
          $("#follwing_list<%=user.id%>").hide();  
        });
      });
    </script>
    
	<% end %>

</div> 


