<%= form_for (post) do |f| %>
          <div class="field">
            <%= f.text_area :content,cols: 20 , rows: 1 %>
            <%= f.hidden_field :user_id, :value => current_user.id %>
          </div>
          <div class="actions" id="update_post<%=post.id%>">
            <%= f.submit "Update Post" %>
            &nbsp;&nbsp;<%= link_to "back", :back %>
          </div>
<% end %>

<script type="text/javascript">
	$(document).ready(function(){
       $("#editpostlink<%=post.id%>").click(function(){
           $("#editpost<%=post.id%>").css("display","block");
           $(".dml<%=post.id%>").hide();
       });
	});
</script>