<script type="text/javascript">
	function reload(id) {
       $(id).hide();
    };
  function show_div(id){
      var dml=".dml"+id;
       $(dml).hide();
       var $i=1;
       $('.wrapper').append("<%#= escape_javascript(render :partial => 'site/edit_post', :locals => {:post => Post.find(55) }) %> ");
  };
</script>


<%= form_for(@post ,remote: true) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_area :content,cols: 65, rows: 3, :id=> "post_content" %>
  </div>
 
    <%= f.hidden_field :user_id , :value => current_user.id %>
  
  <div class="actions" style="margin-left:40%">
    <%= f.submit "Add New Post",:id => "add_new_post" %>
  </div>
<% end %>


<script type="text/javascript">
  $(document).ready(function(){
  	
    $('#add_new_post').click(function(event){
    	 event.preventDefault();
       var content=$("#post_content").val();
       var uid="<%=current_user.id%>"
     
       $.ajax({
         data: { content: content, user_id: uid },
         type: 'post',
         dataType: 'json',
         url: 'site/create_post',
       success: function(resp,status,three) {
	       	var html="<div class='post' id='post"+resp.post.id+"'>";

	       	var id="'#post"+resp.post.id+"'"


	       	html+="<h4 class=dml"+resp.post.id+">" + resp.post.content + "</h4>";
	       	html+="<span class=dml"+resp.post.id+">"+ resp.post.created_at + "</span>";
	        html+="<p class=dml"+resp.post.id+">  <%= current_user.email %> </p>";
        
          html+="<a class=dml"+resp.post.id+" data-remote='true' onclick=show_div("+resp.post.id+")><i class='fa fa-pencil-square-o'></i></a>";

          html+="<a class=dml"+resp.post.id+" data-remote='true' onclick=reload("+id+") id='deletepost"+resp.post.id+"'href='site/delete_post?id="+resp.post.id+"' data-method='post'><i class='fa fa-trash-o'></i></a>";

          html+="<a class=dml"+resp.post.id+" href='#'><i class='fa fa-comment'></i><span class='badge'>0</span></a> " ; 

	        html+="</div>"  
	        $(".wrapper").append(html);
         } ,
       error: function(resp,type,error){
           alert("error" + error);
         }
       }); // end of ajax
    }); // end of hi
  }); // end of doc ready
</script>









