<%= form_for(comment.class.name.to_s=="Post" ? comment=comment.comments.build : comment =comment.children.build) do |f| %>
    <div class="field">
    <%= f.text_area :message , cols: 40, rows: 1, placeholder: "provide comment" %>
  </div>
      <%=  f.hidden_field :post_id ,  :value => comment.post_id%>

      <%= f.hidden_field :user_id , :value => current_user.id %>
      <%= f.hidden_field :parent_id , :value => comment.parent_id %>
  
  <div class="actions">
    <%= f.submit %>
    &nbsp;&nbsp;<%= link_to "back", :back %>
  </div>
<% end %>



