<!DOCTYPE html>
<html>
  <head>
    <title>TwitterApp</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">WebSiteName</a>
        </div>        
        <div>
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          	<li>
              <% if user_signed_in? %>
    			      <%= link_to 'Logout', destroy_user_session_path, :class => "" ,:method => :delete %>
    			    <% else %>
    			      <%= link_to 'Login', destroy_user_session_path, :class => "" ,:method => :delete %>
    			    <% end %>
    		    </li>
          </ul>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
